<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ServiceTimerConfig" type="DesignPatterns.TimerInWindowsService.ServiceTimerConfigManager,CommonFunction"></section>
	</configSections>
	<ServiceTimerConfig>
		<!--默认采用策略-->
		<Default>A</Default>
		<!--A配置项(全节点)-->
		<Config>
			<!--A策略-->
			<RefName>A</RefName>
			<TimerMode>Interval</TimerMode>
			<!--延迟开始处理（单位毫秒）可为空-->
			<Delay>10000</Delay>
			<!--文件生成时间间隔（单位毫秒，1800000=30分钟）-->
			<Interval>600000</Interval>
			<!--月份-->
			<MonthSeq></MonthSeq>
			<!--指定第几天的序号-->
			<DaySeq></DaySeq>
			<!--定时配置-->
			<Times>
				<!--一天之中需要执行任务的时间点-->
				<TimeValue>11:20:19</TimeValue>
				<TimeValue>10:10:43</TimeValue>
				<TimeValue>19:10:28</TimeValue>
			</Times>
		</Config>
		<!--B配置项(轮询策略)-->
		<Config>
			<!--B策略，每隔设置的时间执行一次-->
			<RefName>B</RefName>
			<TimerMode>Interval</TimerMode>
			<!--延迟开始处理（单位毫秒）-->
			<Delay>10000</Delay>
			<!--文件生成时间间隔（单位毫秒，1800000=30分钟）-->
			<Interval>600000</Interval>
		</Config>
		<!--C配置项(天设置)-->
		<Config>
			<!--C策略，每周4在配置的时间点上执行-->
			<RefName>C</RefName>
			<TimerMode>Week</TimerMode>
			<!--延迟开始处理（单位毫秒）-->
			<Delay>10000</Delay>
			<!--每周的星期四的以下时间执行-->
			<DaySeq>4</DaySeq>
			<!--定时配置-->
			<Times>
				<!--一天之中需要执行任务的时间点-->
				<TimeValue>11:20:19</TimeValue>
				<TimeValue>10:10:43</TimeValue>
				<TimeValue>19:10:28</TimeValue>
			</Times>
		</Config>
		<!--D配置项(月、天设置)-->
		<Config>
			<!--D策略，每年12月8号在配置的时间点上执行-->
			<RefName>D</RefName>
			<TimerMode>Month</TimerMode>
			<!--延迟开始处理（单位毫秒）-->
			<Delay>10000</Delay>
			<!--月份-->
			<MonthSeq>12</MonthSeq>
			<!--天数-->
			<DaySeq>8</DaySeq>
			<!--定时配置-->
			<Times>
				<!--一天之中需要执行任务的时间点-->
				<TimeValue>11:20:19</TimeValue>
				<TimeValue>10:10:43</TimeValue>
				<TimeValue>19:10:28</TimeValue>
			</Times>
		</Config>
	</ServiceTimerConfig>
</configuration>
